.header {
  color: white;
  font-size: 60px;
}

.cardBody {
  min-width: 40vw !important;
  margin: auto;
}
.cardBodyText {
  font-size: 30px;
}
.cardTitleText {
  font-size: 20px;
}

.cardButton {
  font-size: 20px;
}
