.item {
  margin-left: auto !important;
}

.icon {
  width: 10vw;
  margin: auto !important;
}

.item {
  text-decoration: none;
  margin-right: 5%;
  text-align: center;
}

.navContainer {
  transition: 0.3s;
  border-radius: 7%;
}

.navContainer:hover {
  transition: 0.3s;
  border-radius: 7%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
}

.headerLogo {
  transition: 0.3s;
  width: 60px;
}

.headerLogo:hover {
  transition: 0.3s;
  width: 70px;
  opacity: 60%;
}
